[Unit]
Description=ReTest rebazer

[Service]
ExecStart=/usr/bin/rebazer
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rebazer

Type=simple
User=rebazer

[Install]
WantedBy=multi-user.target
