target/
rebazer-workspace/
application.properties
application.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
