rebazer:
  workspace: ./rebazer-workspace # optional
  garbageCollectionCountdown: 20 # optional
  pollInterval: 60 # optional
  hosts:
    - type: BITBUCKET # possible values GITHUB or BITBUCKET
      url: https://bitbucket.org/ # optional, default is type dependent (github.com, bitbucket.org)
      teams:
      - name: your_company
        user: service_user # optional value, default is $name
        pass: dont_use_this_pass_at_home
        repos:
        - name: the_repo_name
          masterBranch: develop # optional value, default is "master"
        - name: other_repo
          masterBranch: trunk

    - type: GITHUB
      teams:
      - name: your_company
        pass: dont_use_this_pass_at_home
        repos:
        - name: foo
