spring:
  main:
    web-environment: false

rebazer:
  workspace: ./rebazer-workspace
  garbageCollectionCountdown: 20
  pollInterval: 60
  hosts:
    - type: BITBUCKET
      url: https://bitbucket.org/
      teams:
      - name: your_company
        user: service_user
        pass: dont_use_this_pass_at_home
        repos:
        - name: blub
          branch: blub
        - name: bla
          branch: bla          

    - type: GITHUB
      url: https://github.com/
      teams:
      - name: your_company
        user: service_user
        pass: dont_use_this_pass_at_home
        repos:
        - name: foo
          branch: foo
