spring:
  main:
    web-environment: false

rebazer:
  workspace: ./rebazer-workspace
  garbageCollectionCountdown: 20
  pollInterval: 10000
  services:
      - type: bitbucket
        url: https://bitbucket.org/
        team:
          name: your_company
          user: service_user
          pass: dont_use_this_pass_at_home
          repos:
          - name: blub
            branch: blub
          - name: bla
            branch: bla          
            
      - type: github
        url: https://github.com/
        team:
          name: your_company
          user: service_user
          pass: dont_use_this_pass_at_home
          repos:
          - name: foo
            branch: foo
